*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "SF pro Display", sans-serif;
  background-color: #ffffff;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 110rem;

  margin: 0 auto;
  padding: 0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1400;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
}

#info-nav {
  background-color: white;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.02rem;
  opacity: 0.7;
  color: rgb(160, 160, 160);
  transition: 0.3s;
}

.nav-link:hover {
  opacity: 1;
  color: white;
  letter-spacing: 0.2rem;
}

.nav-link-apple {
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/x2.svg") center no-repeat;
}

.nav-link-search {
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag {
  width: 1.4rem;
  height: 4.4rem;
  background: url("images/icons/bag.svg") center no-repeat;
}

.hero {
  max-width: 110rem;
  margin: 4rem auto;
  margin-top: 2rem;
  background-color: white;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid #fff;
  border-bottom: 0.6rem solid #fff;
}

.heading {
  padding: 3rem;
  margin: 2rem auto;
  letter-spacing: -0.2rem;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.cartname {
  /* text-shadow: 1px 1px 5px rgb(235, 235, 235); */
  font-size: 7rem;
  letter-spacing: -0.3rem;
  word-spacing: 0.3rem;
  line-height: 1.1;
  font-weight: 600;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  text-align: center;
  color: rgb(41, 41, 41);
}

#bag {
  font-weight: lighter;
  font-size: 6rem;
  color: rgb(0, 140, 255);
}

thead {
  font-size: 2rem;
}

.remove-btn {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(22, 142, 255);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.remove-btn:hover {
  background-color: rgb(238, 70, 70);
}

table {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

th {
  color: rgb(25, 167, 255);
  font-size: 2rem;
  border-bottom: 1px solid rgb(19, 19, 19);
}

td {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid rgb(136, 136, 136);
}

th,
td {
  padding: 1rem 1rem;
}

.product-list {
  box-shadow: 1px 1px 12px rgb(122, 122, 122);
  padding: 2rem 3.5rem;
  border-radius: 3rem;
}

.total-div {
  display: inline-block;
  transform: translateX(68rem);
  width: 35rem;
  background: rgb(185, 241, 255);
  margin-top: 3rem;
  margin-right: 0rem;
  padding: 2rem 3.5rem;
  border-radius: 3rem;
}

.total-heading {
  font-size: 5rem;
  text-align: right;
  padding: 0 2rem;
  color: rgb(0, 119, 255);
}

hr {
  margin: 1rem 0rem;
  border: none;
  border-bottom: 1px solid rgb(83, 152, 255);
}

#amount {
  font-size: 5rem;
  text-align: right;
  padding: 0 2rem;
  margin-top: 2rem;
  color: rgb(0, 119, 255);
}

.checkout {
  font-size: 1.6rem;
  width: 100%;
  margin: 2rem 1rem 0.5rem 1rem;
  border: 1px solid rgb(0, 140, 255);
  border-radius: 2.5rem;
  background-color: white;
  color: rgb(0, 140, 255);
  padding: 1.5rem 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.checkout:hover {
  color: white;
  background-color: rgb(0, 140, 255);
}
