*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #000000;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1400;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.nav-list-mobile {
  display: none;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.02rem;
  opacity: 0.7;
  color: rgb(160, 160, 160);
  transition: 0.3s;
}

.nav-link:hover {
  opacity: 1;
  color: white;
  letter-spacing: 0.2rem;
}

.nav-link-apple {
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/x2.svg") center no-repeat;
}

.nav-link-search {
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag {
  width: 1.4rem;
  height: 4.4rem;
  background: url("images/icons/bag.svg") center no-repeat;
}

.hero {
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
}

.surface-14 {
  height: 90rem;
  background: rgb(41, 41, 41);
  transition: 0.5s;
  margin-top: 3.8rem;
}

#XPS-intro {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: calc(90rem);
  object-fit: cover;
}

.wrapper {
  position: absolute;
  width: 100%;
}

.gradient1 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  width: 100%;
  height: calc(90rem);

  object-fit: cover;
  position: relative;
  z-index: 2;
}

.title {
  color: rgb(255, 255, 255);
  text-align: left;
  padding-top: 1rem;
  text-align: center;
}

.title-heading {
  font-size: 4rem;
  color: rgb(141, 141, 141);
  margin-top: 0.6rem;
  letter-spacing: -0.2rem;
  font-weight: 600;
}

.title-sub-heading {
  font-size: 10rem;
  margin-top: 2rem;
  line-height: 1.07143;
  letter-spacing: 0.008rem;
  font-weight: 600;
}

.title-price {
  font-size: 1.7rem;
  color: #888;
  margin-top: 1.3rem;
}

.button-id {
  margin: 0;

  margin-top: 1.3rem;
  background-color: #0071e3;
  border: none;
  border-radius: 980px;
}

.button-id:hover {
  background-color: #2981d8;
}

.cta {
  text-align: center;
}

.cta-link {
  color: #1885f1;
  font-size: 2.5rem;
  margin: 30px;
  border-radius: 2em;
  display: inline-block;
  transition: 0.25s;
}

.cta-link:hover {
  color: #ffffff;
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  background-color: #1885f1;
}

#processor-power {
  margin: 12rem 1rem 0 5rem;
}

.surface-141 {
  height: 30rem;
  background: rgb(0, 0, 0);
  transition: 0.5s;
}

.title-left {
  font-size: 4rem;
  color: rgb(179, 179, 179);
  margin-top: 0.6rem;
  letter-spacing: -0.2rem;
  font-weight: 600;
}

.title-power {
  color: white;
  font-size: 8rem;
  line-height: 1.07143;
  letter-spacing: 0.008rem;
  font-weight: 600;
}

.description {
  color: rgb(179, 179, 179);
  font-size: 3rem;
  padding-bottom: 20px;
}

.pro {
  display: inline-block;

  padding: 5rem 3rem 1rem 0;
}

.gra {
  display: inline-block;
  width: 30%;
  color: rgba(255, 255, 255, 0.753);
  padding: 5rem 3rem 5rem 0;
}

.gradient2 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  width: 100%;
  height: calc(40rem);

  object-fit: cover;
  position: relative;
  z-index: 2;
}

#XPS-processor {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: calc(40rem);
  object-fit: cover;
}

.graphics {
  margin: 0 auto;
  padding: 0 2.2rem;
  max-width: 140rem;
  border-radius: 30px;
  background: linear-gradient(
    to right top,
    #194189 0%,
    #3b4980 25%,
    #8738a7 100%
  );
  background-size: auto 1000rem;
  background-position: center;
  background-repeat: no-repeat;
}

.surface-142 {
  height: 60rem;
  background: rgb(0, 0, 0);
  transition: 0.5s;
}

#rtx {
  font-size: 6rem;
  padding-top: 70px;
  color: #c48cfc;
}

#graphic-vid {
  width: 67%;
  border-radius: 10px;
}

#game #color {
  padding-bottom: 30px;
}

.gradient3 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  width: 100%;
  height: calc(90rem);

  object-fit: cover;
  position: relative;
  z-index: 2;
}

.cooling {
  height: 90rem;
  background: rgb(41, 41, 41);
  transition: 0.5s;
  margin-top: 0px;
}

.coo {
  color: white;
  display: inline-block;
  padding: 0rem 3rem 1rem 0;
}

.title-screen {
  color: #ffb19e;
  font-size: 8.5rem;

  letter-spacing: 0.008rem;
  font-weight: 600;
}

#thermal {
  color: orangered;
}

.graphics1 {
  margin: 0 auto;
  padding: 0 2.2rem;
  max-width: 140rem;
  border-radius: 30px;
  background: linear-gradient(
    to right top,
    #8d73b1 0%,
    #257983 50%,
    #44e2a3 100%
  );
  background-size: auto 1000rem;
  background-position: center;
  background-repeat: no-repeat;
}

.disp {
  display: inline-block;
  width: 30%;
  color: rgb(255, 255, 255);
  padding: 0rem 0rem 5rem 2rem;
}

#display-power {
  margin: 10rem 0rem 0 0rem;
}

#ultrahd {
  text-align: right;
  font-size: 6rem;
  padding-top: 70px;
  color: #ffffff;
}

#color {
  text-align: right;
  margin-bottom: 30px;
  color: #003d7a;
}

#ultra-id {
  color: #22ffa6;
}

.title-form-factor {
  color: #ffffff;
  font-size: 8.5rem;
  text-align: center;
  letter-spacing: 0.008rem;
  font-weight: 600;
}

#copyright {
  text-align: center;
  padding: 0 0 40px 0;
  font-size: 1.5em;
  color: #a0a0a0;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
